#items ul
,#stage ul
,#result ul
{
	margin: 0;
	list-style: none;
}
#items .well
,#result .well
{
	float: left;
	margin: 5px;
	padding: 8px;
}
#items .well span
{
	display: none;
}

#stage ul
{
	min-height: 192px;
}
#stage li
{
	height: 32px;
	margin: 5px;
	padding: 8px;
}

#items .well img
,#stage img
,#result .well img
{
	width: 32px;
}
